* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 24.5px;
  line-height: 50px;
}

:root {
  --primary-color: #8804d4;
  --secondary-color: #fffcf4;
  --text-color: #5f5b53;
}

/* common */
.header {
  background: #fffcf4;
  width: 1170px;
  margin: 0 auto;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.ie-logo {
  height: 6rem;
}

.rg-logo {
  height: 5rem;
  margin-right: 20px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-signin {
  min-width: 144px;
  text-align: center;
  background-color: var(--primary-color);
}

.header .btn-signin:hover {
  opacity: 0.8;
}

.header .action {
  margin-left: 49px;
}
.media-block img {
  width: 100%;
  border-radius: 20px;
}

/* ------------------------ */
.hero {
  padding: 56px;
}

.hero__heading {
  margin-top: 20px;
}

.hero .body {
  display: flex;
  background: #fffcf4;
}

.hero .media-block {
  width: 40%;
  margin-right: 50px;
}

.hero .media-block img {
  height: 100%;
  object-fit: cover;
  background: transparent;
}

.hero .content-block {
  width: 60%;
}

.hero .content-block .title {
  display: inline-block;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
.hero .content-block .desc {
  text-align: center;
  height: 300px;
}

.hero .cta-group {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.hero .watch-video {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: var(--primary-color) 1px solid;
  line-height: 50px;
  min-width: 130px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  color: #000;
  font-weight: 500;
}

.hero .watch-video:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.content-block__contact:hover {
  opacity: 0.8;
}

.hero .icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
}

.hero-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.hero-summary .item {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-right: 20px;
  height: 5rem;
}
.hero .item .label .value {
  color: #5f5b53;
  font-size: 1.4rem;
  margin-top: 30px;
}

.hero .item .label .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.hero .heading {
  color: #171100;
  font-family: "sen";
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero .content-block .item {
  margin-top: 10px;
}

.hero .content-block .item .title {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.hero .desc {
  margin-bottom: 50px;
}

.hero .cta-group {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 10px 30px;
}
